<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransitData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>252D2D9D1DFE71F900C08230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>252D2DB11DFE71FA00C08230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>252D2DBC1DFE71FA00C08230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
